BattleTank/Content/cavefloor1_Height.uasset
BattleTank/Content/cavefloor1_Metallic.uasset
BattleTank/Content/cavefloor1_Roughness.uasset
BattleTank/Content/cavefloor1_Base_Color.uasset
BattleTank/Content/cavefloor1_Ambient_Occlusion.uasset
BattleTank/Content/cavefloor1_Normal.uasset
BattleTank/Content/mossy-ground1-albedo.uasset
BattleTank/Content/mossy-ground1-ao.uasset
BattleTank/Content/mossy-ground1-height.uasset
BattleTank/Content/mossy-ground1-metal.uasset
BattleTank/Content/mossy-ground1-preview.uasset
BattleTank/Content/mossy-ground1-roughness.uasset
